@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @{
            var userName = HttpContext.Current.User.Identity.Name;
            if (userName != "")
            {
                <h3>
                    Online Shopping Store<span class="btn btn-danger pull-right">@Html.ActionLink(userName + "-Logout", "Logout", "Account", new { @style = "color: white" })</span>
                </h3>

            }
        }
        @RenderBody()
    </div>
</body>
</html>
