@model OnlineShoppingStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products List</h2>

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)

}
<div class="pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x,category = Model.CurrentCategory }))
</div>