@model OnlineShoppingStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products List</h2>

@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        <h4>@p.Price.ToString("C")</h4>
        @p.Description
    </div>

}
<div>
    @Html.PageLinks(Model.PagingInfo,x=>Url.Action("List",new { page = x }))
</div>